<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatNet</title>
    <link rel="stylesheet" href="../public/chatRoom.css">
</head>
<body>

    <!-- Top of ChatRoom  -->
    <div class="topContainer">
        <div class="backIcon"></div>
        <div>
            <div class="image"></div>
            <div>
              <div class="chatName"></div>  
              <div class="members"></div>  
            </div>
        </div>
        <div class="optionsIcon"></div>
        <div class="time"></div>
    </div>

    <!--  Chat  -->
    <div class="chatContainer"></div>
    
    <!--  MessageBox  -->
    <div class="messageContainer">
        <div class="messageBox">
            <div class="messages"></div>
            <div class="sendIcon"></div>
        </div>
    </div>
   
</body>
</html>