<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
  <!-- Icons CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
  <title>ChatNet Home Page</title>
</head>

<body class="bg-gray-100 min-h-screen flex items-center">
  <img src="../Assets/Background/landing-bg.png" alt="Background Image"
    class="absolute inset-0 lg:w-full h-full sm:w-1/4 object-cover z-0" />
  <div class="flex w-full">
    <div class="max-w-md py-10 px-2 sm:px-6 sm:w-full lg:px-8 lg:w-2/5 lg:ml-20 z-10 relative">
      <img src="../Assets/SharesphereLogo/PNG/logo.png" alt="icon" width="30%" class="mx-auto max-w-xs mb-4" />
      <h1 class="text-center text-4xl font-extrabold text-white">ChatNet</h1>
      <h3 class="text-center text-lg font-medium text-white mt-4 italic">The Ultimate Collaboration Platform with
        ChatGPT at its Core</h3>
      <div class="flex flex-col items-center text-center mt-10 p-6">
        <a href="/auth/login"
          class="block w-full py-2 px-4 border-2 border-transparent rounded-md shadow-sm text-lg font-medium text-indigo-600 bg-white hover:bg-gray-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 mb-4">Login</a>
        <a href="/auth/register"
          class="block w-full py-2 px-4 border-2 border-transparent rounded-md shadow-sm text-lg font-medium text-indigo-600 bg-white hover:bg-gray-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 mb-4">Register</a>
      </div>
    </div>
  </div>
</body>

</html>