<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- Icons CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
  <title>ChatNet Home Page</title>
</head>

<body>
  <div class="container">
    <img src="../Assets/SharesphereLogo/PNG/logo.png" alt="icon" width="20%" class="text-center" />
    <h1 class="text-center">ChatNet</h1>

    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h2>"The Ultimate Collaboration Platform with ChatGPT at its Core”</h2>
          <p class="mt-4"><a href="/auth/login" class="btn btn-outline-primary btn-block">Login</a></p>
          <p class="mt-4"><a href="/auth/register" class="btn btn-outline-primary btn-block">Register</a></p>
        </div>
      </div>

    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

</body>

</html>