<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatNet</title>
  <link rel="stylesheet" href="/chatRoom.css">
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <!-- Header Container -->
  <div class="headerContainer">

    <div class="leftHeader">
      <div class="backIcon">
        <a href="/home">
          <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.44 59.77"
            width="100%" height="100%">
            <g id="Layer_1-2" data-name="Layer 1">
              <path
                d="M56.72,43.55l-11.6-13.3c-.09-.09-.18-.15-.09-.25l8.7-10.24c3.85-4.13,7.94-11.23,3.47-16.34-.32-.37-.64-.7-.97-1-4-3.7-8.46-2.72-13.9-.02L5.43,22.31C1.97,24.18-.11,27.79,0,31.73c.12,3.94,2.41,7.41,5.99,9.07l38.65,17.94c.3,.14,.6,.26,.9,.37,3.06,1.11,6.27,.79,9.03-.91,3.27-2.01,5.16-5.71,4.83-9.79-.22-2.68-.79-2.96-2.69-4.87Zm-2.54,5.37c.12,2.08-.75,3.83-2.35,4.81-1.37,.84-2.96,1-4.48,.45-.17-.06-.33-.13-.49-.2L8.2,36.04c-1.78-.83-2.89-2.5-2.95-4.47s.94-3.7,2.67-4.64L44.74,7.07c5.77-2.85,6.94-1.98,8.5-.18,1.91,2.18-.78,7.41-3.37,10.19,0,0-5.56,6.64-8.64,10.35-1.16,1.4-1.14,3.43,.04,4.81l11.15,12.97c.99,1,1.67,2.3,1.75,3.7Z" />
            </g>
          </svg>
        </a>
      </div>
      <div class="image">
        <img src="/Assets/SharesphereLogo/PNG/logo.png" class="backIconImage" alt="group chat image" width="52px">
      </div>
      <div class="chatName">
        <h2>ChatNet</h2>
      </div>
    </div>

    <div class="rightHeader">
      <div class="profileImage">
        <img class="backIconImage" src="/Assets/JPG/profile.jpg" alt="group chat image" width="45px">
      </div>
    </div>
  </div>

  <!-- Side messages  -->

  <div class="sideMessages">
    <div>

      <div class="searchContainer">
        <div class="searchbox">
          <form id="form" action="">
            <input id="search" autocomplete="off">
          </form>
        </div>
        <div class="searchIcon">
          <img class="searchIconImage" src="/Assets/PNG/Asset 49 1.png" alt="group chat image" width="28px">
        </div>

        <!-- </div> -->
      </div>

      <!-- Other Chats -->
      <div class="otherChats">
        <% chats.forEach(chat=> { %>
          <div class="groupChat groupChatSide">
            <div class="image">
              <img class="backIconImage" src="/Assets/JPG/profile.jpg" alt="group chat image" width="52px">
            </div>
            <div>
              <div class="chatName">
                <h2>
                  <a href="/chatRoom/<%= chat.id %>">
                    <%= chat.name %>
                  </a>
                </h2>
              </div>
              <div class="members">
                <p>
                  <!-- < %= numberOfUsersInChat %> members -->
                </p>
              </div>
            </div>
          </div>
          <% }) %>
      </div>

    </div>
  </div>
  </div>


  <!-- Top of ChatRoom  -->
  <div class="main">
    <div class="topContainer">

      <div class="groupChat contentTop">
        <div class="image chatImage">
          <img class="backIconImage" src="/Assets/JPG/profile.jpg" alt="group chat image" width="52px">
        </div>
        <div>
          <div class="chatName">
            <h2>
              <%= chatRoomName %>
            </h2>
          </div>
          <div class="members">
            <p>
              <%= numberOfUsersInChat %> members
            </p>
          </div>
        </div>
      </div>

      <div class="time"></div>
    </div>

    <!--  Chat  -->
    <div class="chatContainer">
      <ul id="messages"></ul>
    </div>



    <!--  MessageBox  -->
    <div class="messageContainer">
      <!-- <div class="messageBox"> -->
      <div class="messages">
        <form id="chat-form" action="">
          <input id="m" autocomplete="off">
          </form>
      </div>
      <div class="sendIcon">
        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.69 78.48" width="30"
          height="30">
          <defs>
            <style>
              .cls-1 {
                fill: #000000;
              }
            </style>
          </defs>
          <g id="Layer_1-2" data-name="Layer 1">
            <g id="Layer_1-2" data-name="Layer 1-2">
              <path class="cls-1"
                d="M46.33,78.46c-.55,0-1.12-.02-1.74-.1-8.43-.89-11.47-11.69-11.46-18.74l.04-16.24-20.18-.82c-4.14-.16-8.06-2.27-10.5-5.62C.16,33.72-.58,29.71,.46,25.94c1.09-3.91,3.75-6.92,7.5-8.5,.36-.15,.75-.3,1.15-.42L59.78,.63c4.69-1.51,9.75-.27,13.19,3.24,3.45,3.51,4.61,8.58,3.02,13.24l-16.91,49.58c-2.71,7.1-5.96,11.78-12.76,11.78h0Zm-6.57-36.82l-.05,17.98c0,4.75,1.97,11.82,5.57,12.19,2.96,.31,4.77,.12,7.63-7.4L69.78,14.99c.8-2.32,.24-4.76-1.49-6.52s-4.16-2.35-6.5-1.59h0L11.14,23.26c-.21,.06-.41,.15-.62,.24-1.86,.79-3.19,2.29-3.72,4.22-.51,1.85-.15,3.76,1.02,5.37,1.27,1.75,3.31,2.84,5.46,2.92l21.97,.89,12.77-11.96c1.32-1.24,3.4-1.17,4.64,.15,.59,.64,.89,1.44,.89,2.24,0,.87-.35,1.75-1.04,2.4l-12.74,11.93h.01Z" />
            </g>
          </g>
        </svg>
      </div>

      <!-- </div> -->
    </div>
  </div>

  <div class="noDisplay createChatDiv">
    <div class="topCreateChat">
      <div></div>
      <div>
        <h1>Create New ChatNet</h1>
      </div>
    </div>
    <div>
      <form>
        <div>
          <label for="username">Chat name </label><input id="chatName" name="chatName" required value="">
        </div>
        <div>
          <label for="username">Members: </label>
        </div>
        <div>
          <label for="username">Members </label><input type="checkbox">
        </div>
      </form>
    </div>
  </div>

  <script src="/chatroomFrontend.js"></script>
</body>

</html>