@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.listOfChats {
  height: 63vh;
  overflow-y: scroll;
}

.listOfMembers {
  height: 60vh;
  overflow-y: scroll;
}

pre {
  border-radius: 0.5rem
}

.preDiv {
display:flex;
justify-content:end;
}

#messages {
  width: 100%;
  height: 68vh;
  display: flex;
  flex-direction: column-reverse;
  /* overflow-y: scroll; */
  overflow: auto;
  display: flex;
}
.outerWrapper {
  display: flex;
  flex-direction: column-reverse;
  /* overflow-y: scroll; */
  overflow: auto;
}
#m {
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  min-height: 32px;
  width: 300px;
  height: 70px;
  border: 2em;
}

.sendIcon {
  margin-top: 26px;
  margin-left: 5px;
}

li {
  list-style: none;
}
/* Mobile */

.rightSide {
  display: none;
}

.leftSide {
    position:absolute;
    left:0; 
    right: 20%;
    height: 88vh;
    background-color: white;
}

.displayNone {
    display:none;
}

.menu {
    margin-left: 8px;
}

@media (min-width: 800px) {
  .rightSide,
  .leftSide {
    display: block;
  }

  #m {
    width: 700px;
  }

  .leftSide {
    position:relative;
    left: 0px;
    background-color: white;
}

.menu {
    height: 30px;
    width: 30px;
    margin-top: 2px;
    /* display: none; */
}

.centerNavBar {
    margin-left: 450px;
}
}

.noDisplay {
  display: none;
}

.member-card:hover {
  cursor: pointer;
}
